<div id="address-settings-container" class="address-settings-container" data-config="{{ config|json_encode }}"></div>

{% js %}
// Start loop until libraries are defined
const timer = setInterval(function () {
    // Once libraries are defined
    if (window.mapboxsearchcore) {
        // Initialize field settings
        window.initAddressFieldSettings();
        // Cancel the loop
        clearInterval(timer);
    }
}, 100);
{% endjs %}
